/* Import default styles */
/* [JD-2019.03.30] Add some default styles as editor.css is empty...
@import "../../themes/letsco/css/editor.css"; */
.typography .primary-color {
  color: #00afcb;
}
.typography .secondary-color {
  color: #333333;
}
.typography .primary-bg-color {
  color: #ffffff;
  background: #00afcb;
}
.typography .secondary-bg-color {
  color: #ffffff;
  background: #333333;
}

/* Define custom styles below */
/*@font-face {
	font-family: 'Comfortaa';
	src: url('/mysite/css/Comfortaa-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.typography .Comfortaa {
    font-family: 'Comfortaa' !important;
}*/
